/*TODO 
fix the grid column sizes - make better looking
fix the form sizes - more responsive, less ugly
*/
#data-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-template-rows: 1fr;
}

section {
  display: contents;
}
form {
  display: contents;
}

.filter {
  font-size: small;
}

.pid-column {
  grid-column: 1;
}

.item-column {
  grid-column: 2;
}

.description-column {
  grid-column: 3;
}

.category-column {
  grid-column: 4;
}

.edit-column {
  grid-column: 5;
}