/*TODO 
fix the grid column sizes - make better looking
fix the form sizes - more responsive, less ugly
*/
#data-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 4fr 4fr 1fr;
  grid-template-rows: 1fr;
}

section {
  display: contents;
}
form {
  display: contents;
}

.filter {
  font-size: small;
}

#id_amount {
  width: 90%;
}
#id_location {
  width: 90%;
}
#id_notes {
  width: 200px;
  height: 25px;
}

.pid-column {
  grid-column: 1;
}

.item-column {
  grid-column: 2;
}

.amount-column {
  grid-column: 3;
}

.unit-cloumn {
  grid-column: 4;
}

.location-column {
  grid-column: 5;
}

.notes-column {
  grid-column: 6;
}

.edit-column {
  grid-column: 7;
}