/*TODO 
fix the grid column sizes - make better looking
fix the form sizes - more responsive, less ugly
*/

#location-data .data-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

section {
  display: contents;
}
form {
  display: contents;
}

.filter {
  font-size: small;
}

.lab-column {
  grid-column: 1;
}

.location-column {
  grid-column: 2;
}

#location-data .edit-column {
  grid-column: 3;
}

