<form method="post" id="addItemForm"> {% csrf_token %}
    <table>
        <thead>
            <th>Items</th>
            <tr>
                <th>ID<i class="bi bi-caret-down-fill" id="-id"></i></th>
                <th>Item<i class="bi bi-caret-down-fill" id="-item"></i></th>
                <th>Description<i class="bi bi-caret-down-fill" id="-item_description"></i></th>
                <th>Category<i class="bi bi-caret-down-fill" id="-category__category"></i></th>
            </tr>
        </thead>
        <tbody>   
            <tr>
                <td></td>
                <td>{{ form.item }}</td>
                <td>{{ form.item_description }}</td>
                <td>{{ form.category }}</td>
                <td><input type="submit" value="Submit"></td>           
            </tr>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.item }}</td>
                    <td>{{ item.item_description }}</td>
                    <td>{{ item.category }}</td>
                    <td class="delete" id="{{item.id}}">Delete</td>
                </tr>
            {% endfor %}
        </tbody>
    
    </form>