{% load static %}
<script src="{% static 'inventory/js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'inventory/css/add_item_data.css' %}">
<h1 class="title">Items</h1>
<div class="data-header">
    <input type="text" class="search" placeholder="Search">
</div>
<div id="data-data">
    <section class="column-header">
        <h3 class="pid-column">ID <i class="bi bi-caret-down-fill filter" id="-id"></i></h3>
        <h3 class="item-column">Item <i class="bi bi-caret-down-fill filter" id="-item"></i></h3>  
        <h3 class="description">Description <i class="bi bi-caret-down-fill filter" id="-description"></i></h3>
        <h3 class="category-column">Category <i class="bi bi-caret-down-fill filter" id="-category"></i></h3>  
    </section>

    <form method="post" class="form"> {% csrf_token %}
    <section>
        <div class="pid-column"></div>
        <div class="item-column">{{ form.item_char }} 
            <datalist id="itemOptions">
                {% for item in itemList %}
                <option value="{{ item }}" ></option>
                {% endfor %}
            </datalist>
        </div>
        <div class="description-column">{{ form.item_description }}</div>
        <div class="category-column">{{ form.category }}</div>
        <div class="edit-column"><input type="submit" value="Submit"></div>  
    </section>
    </form>
{% for item in data %}
    <section id="{{item.id}}">
        <div class="pid-column">{{ item.id }}</div>
        <div class="item-column">{{ item.item }}</div>
        <div class="description-column">{{ item.item_description }}</div>
        <div class="category-column">{{ item.category }}</div>
        <div class="edit-column delete">Delete</div>         
    </section>
{% endfor %}
</div>