{% load static %}
<script src="{% static 'inventory/js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'inventory/css/inventory_data.css' %}">
<h1 class="title">Inventory</h1>
<div class="data-header">
    <input type="text" class="search" placeholder="Search">
</div>
<div id="data-data">
    <section class="column-header">
        <h3 class="pid-column">ID <i class="bi bi-caret-down-fill filter" id="-id"></i></h3>
        <h3 class="item-column">Item <i class="bi bi-caret-down-fill filter" id="-item"></i></h3>
        <h3 class="amount-column">Amount <i class="bi bi-caret-down-fill filter" id="-amount"></i></h3>
        <h3 class="unit-column">Unit<i class="bi bi-caret-down-fill filter" id="-unit"></i></h3>
        <h3 class="location-column">Location <i class="bi bi-caret-down-fill filter" id="-location"></i></h3>  
        <h3 class="notes-column">Notes <i class="bi bi-caret-down-fill filter" id="-description"></i></h3>  
    </section>

    <form method="post" class="form"> {% csrf_token %}
    <section>
        <div class="pid-column"></div>
        <div class="item-column">{{ form.item_char }} 
            <datalist id="itemOptions">
                {% for item in itemList %}
                <option value="{{ item }}" ></option>
                {% endfor %}
            </datalist>
        </div>
        <div class="amount-column">{{ form.amount }}</div>
        <div class="unit-cloumn">{{ form.unit }}</div>
        <div class="location-column">{{ form.location }}</div>
        <div class="notes-column">{{ form.notes }}</div>
        <div class="edit-column"><input type="submit" value="Submit"></div>  
    </section>
    </form>
{% for item in data %}
    <section id="{{item.id}}">
        <div class="pid-column">{{ item.id }}</div>
        <div class="item-column">{{ item.item }}</div>
        <div class="amount-column">{{ item.amount }}</div>
        <div class="unit-cloumn">{{ item.unit }}</div>
        <div class="location-column">{{ item.location }}</div>
        <div class="notes-column">{{ item.notes }}</div>
        <div class="edit-column"><div class="delete">Delete</div></div>         
    </section>
{% endfor %}
</div>