<div id="content">
    <form method="post" id="units"> {% csrf_token %}
    <table>
        <thead>
            <th>Units</th>
        </thead>
        <tbody>   
            <tr>
                <td>{{ form.0.unit }}</td>
                <td><input type="submit" value="Submit"></td>           
            </tr>
            {% for item in data.0 %}
                <tr id="{{item.unit }}">
                    <td>{{ item.unit }}</td>
                    <td class="delete">Delete</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>

    <form method="post" id="locations"> {% csrf_token %}
        <table>
            <thead>
                <th>Locations</th>
            </thead>
            <tbody>   
                <tr>
                    <td>{{ form.1.location }}</td>
                    <td><input type="submit" value="Submit"></td>           
                </tr>
                {% for item in data.1 %}
                    <tr id="{{item.location }}">
                        <td>{{ item.location }}</td>
                        <td class="delete">Delete</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>


    </div>